body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

/* common shared styles */
.title {
    text-transform: capitalize;
    color: #0b0a0a;
    font-size: 30px;
    font-weight: 800;
}

.description {
    color: #27272799;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

/* header area  */

.header-description {
    width: 80%;
}

.btn-primary {
    border: none;
    border-radius: 8px;
    background: #E55473;
    color: white;
    padding: 17px 34px;
    text-transform: capitalize;
    cursor: pointer;

}

.header-title {
    color: #0b0a0a;
    font-size: 60px;
    font-weight: 800;
}

.header-container {
    background-color: #E554731A;
    display: flex;
    align-items: center;
    padding: 0px 150px;
}

.header-container .image-area img {
    height: 600px;
    width: 500px;
}

/* main area start from here  */

/* featured area  */
.featured-flowers {
    padding: 100px 0;
}

.featured-flowers .text-area {
    text-align: center;
    margin-bottom: 100px;
}

.image-container a {
    display: block;
    margin-top: 30px;
    text-align: center;
    color: #272727;
}

.image-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.image-container img {
    width: 200px;
}

.image-container .first-image img {
    background-color: #A7216226;
    height: 298px;
    padding: 100px 80px 0px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

.image-container .second-image img {
    background-color: #0597A026;
    width: 250px;
    padding: 105px 58px 45px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    ;
}

.image-container .third-image img {
    background-color: #477D1126;
    padding: 100px 80px 0;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    ;
}

/* deal area style  */

.deal-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    background: #E554730D;
    padding: 70px 300px;
}

span {
    color: #E55473;
}

.deal-container .image-area img {
    width: 200px;

}

.deal-container .text-area {
    text-align: center;
    margin-right: 90px;
}

/* instagram styles  */
.instagram {
    margin: 100px 0;
}

.instagram .text-area {
    text-align: center;
    margin-bottom: 30px;
}

.instagram .image-area {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.instagram .image-area img {
    width: 250px;
}

/* new year section  */
.new-year {
    background-image: url('../asset/bg-newyear.jpg'),
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    background-blend-mode: overlay;
    background-size: 1070px;
    background-position: center;
    background-repeat: no-repeat;
    height: 390px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-year-container {
    text-align: center;
    color: white;
    text-transform: capitalize;
}

.new-year-container .btn-primary {
    background-color: transparent;
    border: 1px solid #f3dcd6;
}

/* subscription section style  */

.subscription {
    background-image: url('../asset/Rectangle 9.png');
    background-size: 1070px;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscription .title-container {
    text-align: center;
    margin-bottom: 30px;
}

.subscription .email input {
    background: #FFF;
    border: none;
    padding: 17px 300px 18px 26px;
    margin-right: 10px;
    border-radius: 8px;
}

.subscription .email {
    margin-top: 40px;
}

/* footer section style  */
.footer-area {
    background-color: #111010;
    color: white;
    text-align: center;
    margin-top: 50px;
    padding: 70px 0;

}

.footer-description {
    color: rgb(185, 174, 174);
    text-align: center;
    font-size: 12px;
    font-weight: 400;
}

.footer-title {
    font-size: 30px;
    font-weight: 800;
}

.copyright {
    color: rgb(185, 174, 174);
    text-align: center;
    color: #FFFFFF66;
    font-size: 10px;
    font-weight: 400;
}
